<div class="main-head">
  <h1>My todo List</h1>
  <%= link_to "New Task", new_task_path %>
</div>

<div data-controller="task">
  <div class="tasks-container">
    <% 7.times do |day_offset| %>
      <% current_date = Date.today + day_offset %>
      <div class="day"
           data-action="click->task#new"
           data-task-date="<%= current_date %>"
           data-task-target="dueDate"
      >
        <h2>
          <%= current_date == Date.today ? "today" : current_date.strftime("%a").upcase + current_date.day.to_s %>
        </h2>
        <div class="tasks">
          <% @tasks.select { |task|
            (task.due_date.to_date == current_date) ||
            (task.recurrence == "Daily" && task.due_date.to_date <= current_date) ||
            (task.recurrence == "Weekly" && task.due_date.to_date <= current_date && current_date.wday == task.due_date.wday) ||
            (task.recurrence == "From Monday to Friday" && current_date >= task.due_date.to_date && (1..5).include?(current_date.wday))
          }.each do |task| %>
            <% if current_date > Date.today %>
              <p class="task task_<%= task.id %>"><%= task.title %></p>

            <% else %>
              <%= form_with(model: task, url: toggle_completed_task_path(task), method: :patch) do |f| %>
                <%= f.hidden_field "id", value: task.id %>
                <div class="mark_completed">
                  <% if task.completed? %>
                    <%= content_tag :p, task.title, id: "completed", class: "task" %>
                    <%= f.submit "↩️", class: "x-btn" %>
                  <% else %>
                    <%= f.submit "✔️", class: "x-btn" %>
                    <%= content_tag :p, task.title, class: "task" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <dialog id="new-task-dialog">
    <%= form_with(model: @task) do |f| %>
      <% if @task.errors.any? %>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :due_date, "Date" %>
        <%= f.datetime_local_field :due_date, data: { task_target: "currentDueDate" } %>
      </div>
      <div>
        <%= f.label :recurrence, "Repeat" %>
        <%= f.select :recurrence, options_for_select(["None", "Daily", "Weekly", "From Monday to Friday"]) %>
      </div>

      <button value="cancel" formmethod="dialog" data-task-target="click->task#close">Cancel</button>
      <%= f.submit %>
    <% end %>
  </dialog>
</div>
