<h1 class="new_title">New Task</h1>

<%= form_with(model: @task) do |f| %>

  <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Add a new task..." %>
  </div>
  <div>
    <%= f.label :due_date, "Date" %>
    <%= f.datetime_local_field :due_date %>
  </div>
  <div>
    <%= f.label :recurrence, "Repeat" %>
    <%= f.select :recurrence, options_for_select(["None", "Daily", "Weekly", "From Monday to Friday"]) %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>


<%= link_to "> Back", tasks_path, class: "back" %>
